.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb; }
    .alert-success hr {
      border-top-color: #b1dfbb; }
    .alert-success .alert-link {
      color: #0b2e13; }

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba; }
  .alert-warning hr {
    border-top-color: #ffe8a1; }
  .alert-warning .alert-link {
    color: #533f03; }

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb; }
  .alert-danger hr {
    border-top-color: #f1b0b7; }
  .alert-danger .alert-link {
    color: #491217; }
